.input-component{
    display: flex;
    flex-direction: column;
    background-color: #FCF2FC;
    padding: 10px;
    border-radius: 10px;
}

.option{
    background-color: white;
    border: 0.3px solid black;
    border-radius: 10px;
    padding: 1px 5px;
    font-size: 0.7rem;
    width: 30px;
    text-align: center;
    font-weight: 800;
    cursor: pointer;
}


