/* Modal Styles */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .modal-content {
    width: 400px;
    background: #ffffff;
    padding: 20px;
    border-radius: 1.5rem;
    text-align: center;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    cursor: default;
  }
  
  .modal-content h3 {
    margin-bottom: 20px;
    font-size: 1.5rem;
  }
  
  .token-search {
    width: 90%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 1rem;
    background-color: #f7f0fa;
  }
  
  .token-list {
    max-height: 200px;
    overflow-y: auto;
    margin-bottom: 20px;
    background-color: #f7f0fa;
    border-radius: 20px;

  }

  .token-list::-webkit-scrollbar {
    width: 8px;
  }
  
  .token-list::-webkit-scrollbar-track {
    background: #ffffff;
    border-radius: 4px;
  }
  
  .token-list::-webkit-scrollbar-thumb {
    background: #E879F9;
    border-radius: 4px;
  }
  
  .token-list::-webkit-scrollbar-thumb:hover {
    background: #D946EF;
  }
  
  .token-list-item {
    padding: 10px;
    cursor: pointer;
    border-radius: 8px;
    margin-bottom: 10px;
    transition: background 0.3s;
    display: flex;
    gap:10px
  }
  
  .token-list-item:hover {
    background: #e2d8f0;
  }
  
  .close-modal {
    padding: 10px 20px;
    background: #d084ef;
    color: #fff;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;
    transition: background 0.3s;
  }
  
  .close-modal:hover {
    background: #b56cd8;
  }
  
  /* SwapComponent.css */

.swap-container {
    width: 400px;
    margin: 0 auto;
    background: white;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  .swap-title {
    cursor:default;
    font-weight: bold;
    margin:0;
    text-align: center;
    color: #E074DD;
    background-color: #FCF2FC;
    padding: 10px 20px;
    border-radius: 20px;
    font-weight: 500;
    font-size: 0.9rem;
  }
  
  .swap-input {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    background: #fff;
    padding: 10px 15px;
    border-radius: 8px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    color: black;

  }
  
  .amount-input {
    flex: 1;
    font-size: 1.2rem;
    border: none;
    outline: none;
    background: transparent;
    color: black;
  }
  
  .token-selector {
    display: flex;
    align-items: center;
  }
  
  .token-dropdown {
    font-size: 1rem;
    margin-right: 10px;
  }
  
  .max-label {
    font-size: 0.9rem;
    font-weight: bold;
    color: #a0a0a0;
  }
  
  .price-info {
    font-size: 1rem;
    color: #a0a0a0;
    text-align: center;
    margin: 10px 0;
  }
  
  .swap-details {
    font-size: 0.9rem;
    color: #a0a0a0;
    margin-top: 20px;
  }
  
  .swap-button {
    width: 100%;
    padding: 12px 20px;
    font-size: 1rem;
    font-weight: bold;
    color: #fff;
    background: #E074DD;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background 0.3s;
    
  }
  
  .swap-button:hover {
    background: #b56cd8;
  }
  

  .number-input::-webkit-outer-spin-button,
  .number-input::-webkit-inner-spin-button{
    -webkit-appearance: none;
    margin: 0;
  }

  .number-input:focus{
    outline:none;
  }

  .number-input{
    outline:none;
    font-family: "Montserrat", serif;
  }

  .search-wrapper {
    position: relative;
    width: 100%;
    max-width: 800px;
    background-color: #FAF5FF;
    border-radius: 1rem;
    margin-bottom: 20px;
    display: flex;
    gap:10px
  }
  
  .search-icon {
    position: absolute;
    left: 1rem;
    top: 50%;
    transform: translateY(-50%);
    color: #6B7280;
    width: 1.5rem;
    height: 1.5rem;
  }
  
  .token-search {
    width: 100%;
    background: transparent;
    border: none;
    font-size: 1.25rem;
    color: #1F2937;
    padding: 0.5rem 0.5rem 0.5rem 3rem;
  }
  
  .token-search::placeholder {
    color: #6B7280;
  }
  
  .token-search:focus {
    outline: none;
  }
  
  /* Remove autofill background color in Chrome */
  .token-search:-webkit-autofill,
  .token-search:-webkit-autofill:hover,
  .token-search:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0px 1000px #FAF5FF inset;
    transition: background-color 5000s ease-in-out 0s;
  }

  .modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0rem;
    border-bottom: 1px solid #F3F4F6;
  }
  
  .modal-title {
    font-size: 1.2rem;
    font-weight: 700;
    color: #111827;
    margin: 0;
  }
  
  .close-button {
    background: none;
    border: none;
    padding: 0.5rem;
    cursor: pointer;
    color: #374151;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: color 0.2s ease;
  }
  
  .close-button:hover {
    color: #111827;
  }
  
  .close-button:focus {
    outline: none;
  }