.price-range-panel {
    background: #f7f7fb;
    padding: 20px;
    border-radius: 10px;
  }
  
  .current-price{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 20px;
  }

  .current-price>h3{
    margin:0;
  }