.range-options {
    display: grid;
    justify-content: space-between;
    gap: 10px;
    grid-template-columns: 1fr 1fr;
  }
  
  .range-option {
    display: flex;
    flex-direction: column;
    padding: 10px;
    cursor: pointer;
    height: 100px;
    width: 250;
    background-color: #FCF2FC;
    font-weight: 700;
  }
  
  .range-option.selected {
    border: 2px solid #E074DD;
    border-radius: 10px;
  }

  .option-info{
    display: flex;
    flex-direction: column;
  }
  