.slider-input {
  background-color: #FCF2FC;
  border-radius: 1rem;
  width: 100%;
  max-width: 400px;
  padding: 10px;
}

.slider-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 700;
}

.label {
  font-size: 0.875rem;
  color: #6B7280;
  margin-bottom: 0.25rem;
  text-align: center;
}

.value {
  font-size: 1.75rem;
  font-weight: 500;
  color: #1F2937;
}

.slider-control {
  display: flex;
  gap: 0.75rem;
  align-items: center;
  margin-bottom: 0.5rem;
}

.control-button {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  background-color: #E879F9;
  border: none;
  color: white;
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-weight: 900;
  transition: background-color 0.2s ease;
  padding: 0;
}

.control-button:hover {
  background-color: #D946EF;
}

.control-button:active {
  background-color: #C026D3;
}

.minus, .plus {
  line-height: 1;
  font-weight: 300;
}

.value-input {
  flex: 1;
  background: transparent;
  border: none;
  font-size: 1rem;
  color: #1F2937;
  text-align: center;
  font-weight: 700;
  font-family: "Montserrat", serif;
  -moz-appearance: textfield;
}

.value-input::-webkit-outer-spin-button,
.value-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.unit {
  color: #6B7280;
  font-size: 0.875rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
}