.slider-range {
    margin: 20px 0;
    display: flex;
  }
  
  .slider-range input {
    width: 100%;
    margin: 10px 0;
  }
  
  .slider-values {
    display: flex;
    justify-content: space-between;
  }
  
  .error{
    margin-top: 10px;
    color:#E44F4F;
    font-weight: 700;
    padding: 2px;
    background-color: #da81817f;
    width: 50%;
    border: 2px solid #E44F4F;
    border-radius: 50px;
  }