.manage-titles{
    display: flex;
    justify-content: space-between;
    margin:10px 50px;
}

.manage-titles>p{
    font-weight: 600;
}

.single-position{
    display: flex;
    background-color: white;
    border-radius: 20px;
    margin: 10px 10px;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
}

.name-fee{
    display: flex;
    flex-direction: column;
}