.liquidity-panel {
    display: grid;
    grid-template-columns:repeat(auto-fit, minmax(500px, 1fr) ) ;
    gap:20px; 
    padding: 30px;
  }
  

  .liquidity-panel-select-fee{

    background: #f7f7fb;
    padding: 20px;
    border-radius: 10px;
    font-family: Arial, sans-serif;

  }