.liquidity-panel {
    display: grid;
    grid-template-columns:repeat(auto-fit, minmax(500px, 1fr) ) ;
    gap:20px; 
    padding: 30px;
    max-width: 1255px;
    margin: auto;
  }
  

  .liquidity-panel-select-fee{

    background: #f7f7fb;
    padding: 20px;
    border-radius: 20px;
    max-height: fit-content;
  }