.fee-tier-selector {
    display: flex;
    gap: 10px;

  }
  
  .fee-tier-card {
    flex: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 20px;
    text-align: center;
    cursor: pointer;
    transition: 0.3s;
    background-color: #FCF2FC;
    display: flex;
    flex-direction: column;
    justify-content: center;

  }
  
  .fee-tier-card.highlight {
    border-color: #E074DD;
  }
  
  .fee-tier-card.selected {
    border: 2px solid #E074DD;
    color:#E074DD
  }
  
  .tier-value {
    font-size: 18px;
    font-weight: bold;
  }
  
  .tier-description,
  .tier-percent {
    font-size: 12px;
    color: #6e6e7a;
  }
  