/* Navbar Container */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: Arial, sans-serif;
    margin: 10px auto;
    max-width: 80vw;
  }
  
  /* Logo Section */
  .navbar-left .logo span {
    font-size: 24px;
    font-weight: bold;
    color: #000;
    text-transform: lowercase;
    font-family: "Arial", sans-serif;
  }
  
  .link-text{

    font-weight: 700 !important;

  }

  .navbar-center{
    margin-left: auto;
    margin-right: 50px;
  }

  /* Navigation Links */
  .navbar-center nav {
    display: flex;
    gap: 20px;
  }
  

  .navbar-center nav a {
    text-decoration: none;
    color: #000;
    font-size: 16px;
    font-weight: 500;
  }
  
  .navbar-center nav a:hover {
    color: #8a2be2;
  }
  
  /* Badge for "Soon" */
  .badge {
    font-size: 12px;
    color: white;
    background-color: #8a2be2;
    border-radius: 12px;
    padding: 2px 6px;
    margin-left: 4px;
  }
  
  /* Right Section */
  .navbar-right {
    display: flex;
    align-items: center;
    gap: 15px;
  }
  
  /* Icon */
  .navbar-right .icon img {
    width: 85px;
    height: 50px;
  }
  
  /* Connect Wallet Button */
  .connect-wallet {
    background-color: #E074DD;
    border: none;
    color: white;
    padding: 8px 16px;
    font-size: 16px;
    border-radius: 50px;
    cursor: pointer;
    font-weight: 600;
    height: 50px;
  }
  
  .connect-wallet:hover {
    background-color: #8a2be2;
  }
  